<!DOCTYPE html>
<html lang="en">

<%- include('includes/header') %>

    <body class="hold-transition sidebar-mini layout-fixed">
        <div class="wrapper">

            <!-- Preloader -->
            <%- include('includes/preloader') %>

                <!-- Navbar -->
                <%- include('includes/navbar') %>

                    <!-- /.navbar -->

                    <!-- Main Sidebar Container -->
                    <%- include('includes/sidebar') %>

                        <!-- Content Wrapper. Contains page content -->
                        <div class="content-wrapper">
                            <!-- Content Header (Page header) -->
                            <div class="content-header">
                                <div class="container-fluid">
                                    <div class="row mb-2">
                                        <div class="col-sm-7">
                                            <h1 class="m-0">Add New User</h1>
                                        </div><!-- /.col -->
                                    </div><!-- /.row -->
                                </div><!-- /.container-fluid -->
                            </div>


                            <section class="content">

                                <div class="container-fluid">

                                    <div class="row">
                                        <!-- left column -->
                                        <div class="col-md-12">
                                            <!-- general form elements -->
                                            <div class="card card-primary">
                                                <div class="card-header">
                                                    <h3 class="card-title">Enter User Details</h3>
                                                </div>
                                                <!-- /.card-header -->
                                                <!-- form start -->

                                                <form action="/routes/employee.js"  method="post" >
                                                    <div class="card-body">
                                                        <div class="form-group">
                                                            <label for="exampleInputUsername">Employee Name</label>
                                                            <input name="username" type="text" class="form-control"
                                                                id="exampleInputUsername" placeholder="Enter user name">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="exampleInputEmail1">Employee ID</label>
                                                            <input name="email" type="email" class="form-control"
                                                                id="exampleInputEmail1" placeholder="Enter email">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="exampleInputMobile">Employee Technology</label>
                                                            <input name="mobile" type="number" class="form-control"
                                                                id="exampleInputMobile" placeholder="Enter mobile number">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="exampleInputPassword1">Status</label>
                                                            <input name="pwd" type="password" class="form-control"
                                                                id="exampleInputPassword1" placeholder="Password">
                                                        </div>


                                                    </div>
                                                    <!-- /.card-body -->

                                                    <div class="card-footer">

                                                            <button type="submit" class="btn btn-primary">Submit</button>
                                                            <a href="./views/admin/employees.ejs">

                                                                 <Button>" class="btn btn-warning">Back</button>
                                                             </a>
                                                    </div>
                                                </form>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </section>
                            <!-- /.content -->
                        </div>

                        <%- include('includes/footer') %>
                            <!-- Control Sidebar -->
                            <aside class="control-sidebar control-sidebar-dark">
                                <!-- Control sidebar content goes here -->
                            </aside>
                            <!-- /.control-sidebar -->
        </div>
        <!-- /.control-sidebar -->
        <!-- ./wrapper -->

        <!-- jQuery -->
        <script src="../../plugins/jquery/jquery.min.js"></script>
        <!-- Bootstrap 4 -->
        <script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
        <!-- bs-custom-file-input -->
        <script src="../../plugins/bs-custom-file-input/bs-custom-file-input.min.js"></script>
        <!-- AdminLTE App -->
        <script src="../../dist/js/adminlte.min.js"></script>
        <!-- AdminLTE for demo purposes -->
        <script src="../../dist/js/demo.js"></script>
        <!-- Page specific script -->
        <script>
            $(function () {
                bsCustomFileInput.init();
            });
        </script>
    </body>

</html>