<!DOCTYPE html>
<html lang="en">

  <%- include('admin/includes/header') %>
<body>
  <div class="min-height-250 bg-primary position-absolute w-100"></div>
 <%- include('admin/includes/sidebar')%>
  <main class="main-content position-relative border-radius-lg ">
    <!-- Navbar -->
   <%- include('admin/includes/navbar')%>
    <!-- End Navbar -->
    <div class="container-fluid py-4">
      <div class="row">
        <div class="col-12">
          <div class="card mb-4">
            <div class="row">

           <div  class="col-10">
            <div class="card-header pb-0">
                <h6>Brand table 
                  </h6>
               
              </div>
            </div>
            <div class="col-2">
            <div class="card-header pb-0">
            <h6>
            <a href="/brand_form" class="text-secondary font-weight-bold text-xs" data-toggle="tooltip" data-original-title="Edit user">
                <button  type="submit" class="btn btn-sm btn-dark float-right mb-0 d-none d-lg-block">Add Brand</button>
              </a>
                <!-- <a href="/add_category" class="btn btn-sm btn-dark float-right mb-0 d-block d-lg-none">
                    <button  type="submit" class="btn btn-sm btn-dark float-right mb-0 d-none d-lg-block">Add Category</button>
                </a> -->
               </h6>
            </div>
            </div>
        </div>
            <div class="card-body px-0 pt-0 pb-2">
              <div class="table-responsive p-0">
                <table class="table align-items-center mb-0">
                  <thead>
                    <tr>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">S.no.</th>
                      <th class="text-uppercase text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-3">Brand Image</th>
                      <th class="text-secondary opacity-7"></th>
                    </tr>
                  </thead>
                  <tbody>
                  

                    <% if(data.length){
                        for(var i = 0; i< data.length; i++) {%>  
                            <tr>
                                <td>
                                    <div class="d-flex px-2 py-1">
                                        <div class="d-flex flex-column justify-content-center">
                                        <h6 class="mb-0 text-sm">&nbsp;&nbsp;<%= i+1 %></h6>
                                        </div>

                                    </div>
                                </td>
                                
                                <td>
                                  <img src="../assets/images/brand/<%= data[i].image %>" class="avatar-xl">

                                </td>
                               
                               
                                <td class="align-middle">
                                  <a href="/update_category/<%= data[i]._id %>" class="text-secondary font-weight-bold text-xs text-end" data-toggle="tooltip" data-original-title="Edit user">
                                   Update &nbsp;&nbsp;
                                      </a>
                                  <a href="/delete_brand/<%= data[i]._id %>" class="text-secondary font-weight-bold text-xs text-info" data-toggle="tooltip" data-original-title="Edit user">
                                    Delete &nbsp;&nbsp;
                                      </a>
                                 
                                </td>
                              </tr>
                            <% }
                                
                              }else{ %>
                                  <tr>
                                     <td colspan="3">No user</td>
                                  </tr>
                               <% } %> 

                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
     
      <%- include('admin/includes/footer')%>
    </div>
  </main>
  
  <script>
    var win = navigator.platform.indexOf('Win') > -1;
    if (win && document.querySelector('#sidenav-scrollbar')) {
      var options = {
        damping: '0.5'
      }
      Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
    }
  </script>
  <!-- Github buttons -->
  <script async defer src="https://buttons.github.io/buttons.js"></script>
  <!-- Control Center for Soft Dashboard: parallax effects, scripts for the example pages etc -->
  
</body>
</html>