<!DOCTYPE html>
<html lang="en">

  <%- include('admin/includes/header') %>
  <style>
    .btn1 {
  background-color: #ddd;
  border: none;
  border-radius: 5px;
  color: black;
  padding: 10px 26px;
  text-align: center;
  font-size: 12px;
  margin: 3px 1px;
  transition: 0.3s;
}
.btn2 {
  background-color: #ddd;
  border: none;
  border-radius: 5px;
  color: rgb(172, 29, 29);
  padding: 10px 26px;
  text-align: center;
  font-size: 12px;
  margin: 3px 1px;
  transition: 0.3s;
}
.btn1:hover {
  background-color: #3e5f8e;
  color: white;
}
  </style>
<body>
  <div class="min-height-250 bg-primary position-absolute w-100"></div>
 <%- include('admin/includes/sidebar')%>
  <main class="main-content position-relative border-radius-lg ">
    <!-- Navbar -->
   <%- include('admin/includes/navbar')%>
    <!-- End Navbar -->
    <div class="container-fluid py-4">
      <div class="row">
        <div class="col-12">
          <div class="card mb-4">
            <div class="row">

           <div  class="col-8">
            <div class="card-header pb-0">
                <h6>Category table 
                  </h6>
               
              </div>
           </div>
           
           
            <div class="col-2">
              <div class="card-header pb-0">
            
              <a class="btn1" id="action" style="display: none;" >
                Update
             </a>
            
             
             </div>
              </div>
            <div class="col-2">
              <div class="card-header pb-0">
                <a class="btn1" id="delete" style="display: none;">
                  Delete
               </a>
              </div>
            </div>
        </div>
            <div class="card-body px-0 pt-0 pb-2">
              <div class="table-responsive p-0">
                <table class="table align-items-center mb-0">
                  <thead>
                    <tr>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Catgory Name</th>
                      <th class="text-uppercase text-secondary font-weight-bolder opacity-7">Subcategory List</th>
                      <th class="text-uppercase text-secondary font-weight-bolder opacity-7">Status</th>
                      <th class="text-uppercase text-secondary font-weight-bolder opacity-7" id="formCol" style="display: none;">Form List</th>
                    </tr>
                  </thead>
                  <tbody>
                  

                    <% if(data.length){
                        for(var i = 0; i< data.length; i++) {%>  
                        
                            <tr>
                              
                                <td>
                                    <div class="d-flex px-2 py-1">
                                    
                                      <div class="d-flex flex-column justify-content-center">
                                        <div>
                                          <img src="../assets/images/category/<%= data[i].image %>" class="avatar avatar-sm me-3" alt="user1">
                                        </div>
                                        <h6 class="mb-0 text-sm"></h6>
                                        &nbsp;&nbsp;<%= data[i].category_name %>
                                      </div>
                                      <div>
                                        &nbsp;&nbsp;
                                        &nbsp;&nbsp;
                                        <a href="/add_subcategory/<%= data[i]._id %>" class="text-xs text-danger text-danger" data-toggle="tooltip" data-original-title="Edit user">
                                          + SUBCATEGORY
                                            </a>
                                      </div>
                                    </div>
                                  </td>  
                                
                                  <td>
                                    
                                    <select class="form-control w-30"  name="subcategory" onchange="myFunction(this.value)">
                              
                                   <option> Tap here </option>   
                                  <% 
                                    for(var j = 0; j< sub_data.length; j++) {%>  
                                     
                                        <% var count =0 %>    
                                      
                                         
                                  <% if(data[i]._id.equals(sub_data[j].category_id)){ %>  
                                   
                                            <option value="<%= sub_data[j]._id %>"> <%= sub_data[j].sub_category_name %>
                                       </option>  
                                        
                                      <% count = count +1 %>
                                      <% }%>
                                  
                                      <% } %>
                                          </select>
                                       

                                        </td>
                                       
                                        <td class="align-middle">
                       

                                          <% if(data[i].status === true ){ %>
                                            <div class="label text-secondary" onclick="active()">Active</div>
                                          <% }else{ %>
                                            <div class="label text-danger" onclick="active()">Deactive</div>
                                          <% } %>
                  
                  
                                        </td>
                                        <td>
                                         
                                          <a class="btn btn-dark btn-sm" id="form" style="display: none;">
                                            Add Form
                                         </a>
                                       
                                    
                                          <a class="btn btn-success btn-sm" id="viewform" style="display: none;">
                                            View Form
                                         </a>
                                       
                                    </td>
                              </tr>
                            <% }
                                
                        }else{ %>
                            <tr>
                               <td colspan="3">No user</td>
                            </tr>
                         <% } %> 

                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
     
      <%- include('admin/includes/footer')%>
    </div>
  </main>
 
  <script>
  function myFunction(id) {
    var x = document.getElementById("action");
  
  if (x.style.display === 'none') {
    x.style.display = 'block';
  }

  var z = document.getElementById("delete");
  if (z.style.display === 'none') {
    z.style.display = 'block';
  } 
  var y = document.getElementById("formCol");
  if (y.style.display === 'none') {
    y.style.display = 'block';
  } 
 
    var y = document.getElementById("viewform");
  if (y.style.display === 'none') {
    y.style.display = 'block';
  } 
 
    var y = document.getElementById("form");
  if (y.style.display === 'none') {
    y.style.display = 'block';
  } 
 
 
 

  document.getElementById("action").onclick = function()
  {
    location.href='/update_subcat/'+ id;
    
    
  }
  document.getElementById("delete").onclick = function()
  {
    location.href='/delete_subcat/'+ id;
    
  }
  document.getElementById("form").onclick = function()
  {
    location.href='/question/'+ id;
    
  }
  document.getElementById("viewform").onclick = function()
  {
    location.href='/view_question/'+ id;
    
  }
  
}
  </script>
  <script>
    var win = navigator.platform.indexOf('Win') > -1;
    if (win && document.querySelector('#sidenav-scrollbar')) {
      var options = {
        damping: '0.5'
      }
      Scrollbar.init(document.querySelector('#sidenav-scrollbar'), options);
    }
  </script>
  <!-- Github buttons -->
  <script async defer src="https://buttons.github.io/buttons.js"></script>
  <!-- Control Center for Soft Dashboard: parallax effects, scripts for the example pages etc -->
  
</body>
</html>